@font-face {
	font-family: iransansdn;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/iransans/eot/iransansdnwebbold.eot');
	src: url('../fonts/iransans/eot/iransansdnwebbold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		   url('../fonts/iransans/woff2/iransansdnwebbold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		   url('../fonts/iransans/woff/iransansdnwebbold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		   url('../fonts/iransans/ttf/iransansdnwebbold.ttf') format('truetype');
}

@font-face {
	font-family: iransansdn;
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/iransans/eot/iransansdnweblight.eot');
	src: url('../fonts/iransans/eot/iransansdnweblight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		   url('../fonts/iransans/woff2/iransansdnweblight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		   url('../fonts/iransans/woff/iransansdnweblight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		   url('../fonts/iransans/ttf/iransansdnweblight.ttf') format('truetype');
}

@font-face {
	font-family: iransansdn;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/iransans/eot/iransansdnweb.eot');
	src: url('../fonts/iransans/eot/iransansdnweb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		   url('../fonts/iransans/woff2/iransansdnweb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		   url('../fonts/iransans/woff/iransansdnweb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		   url('../fonts/iransans/ttf/iransansdnwebregular.ttf') format('truetype');
}

@font-face {
	font-family: BYekan;
	font-style: normal;
	font-weight: normal;
   src: url('../fonts/BYekan/BYekan.ttf') format('truetype');
}

@font-face {
	font-family: BYekanb;
	font-style: normal;
	font-weight: bold;
   src: url('../fonts/BYekan/BYekanBold.ttf') format('truetype');
}

@font-face {
	font-family: zhoor;
	font-style: normal;
	font-weight: bold;
   src: url('../fonts/zhoor/zhoor.ttf') format('truetype');
}


@font-face {
	font-family: vazir;
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/vazir/Vazir.eot'),
		   url('../fonts/vazir/Vazir.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		   url('../fonts/vazir/Vazir.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		   url('../fonts/vazir/Vazir.ttf') format('truetype');
}

.back-slid{
  width: 100%;
  min-height: 614px;
  background-image: url(../img/4.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.img-bg-2{
  width: 100%;
  min-height: 300px;
  background-image: url(../img/b2.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.font3{
  font-family: vazir !important;
}

*{
	text-align: right;
	direction: rtl;
}

.font{
  font-family: iransansdn !important;
}
.font2{
  font-family: BYekan !important;
}

body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #ffffff; 
	padding: 0 !important;
	margin: 0 !important;
}

p {
  color: #b3b3b3;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }

h2 {
  font-size: 20px; }

body {
  position: relative; }
 /*  body:before { */
 /*    position: absolute; */
 /*    content: ""; */
 /*    z-index: 1; */
 /*    top: 0; */
 /*    left: 0; */
 /*    right: 0; */
 /*    bottom: 0; */
 /*    background-color: rgba(0, 0, 0, 0.5); */
 /*    opacity: 0; */
 /*    visibility: hidden; */
 /*    -webkit-transition: .3s all ease-in-out; */
 /*    -o-transition: .3s all ease-in-out; */
 /*    transition: .3s all ease-in-out; */
 /*   */
 /*  } */
  body.show-sidebar:before {
    opacity: 1;
    visibility: visible; }

.site-section {
  padding: 7rem 0; }

aside, main {
  height: 100vh;
  min-height: 580px; }

aside {
  width: 270px;
  right: 0;
  z-index: 1001;
  position: fixed;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  background-color: #343a40;
  -webkit-transition: 1s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1);
  transition: 1s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: 1s transform cubic-bezier(0.23, 1, 0.32, 1);
  transition: 1s transform cubic-bezier(0.23, 1, 0.32, 1);
  transition: 1s transform cubic-bezier(0.23, 1, 0.32, 1), 1s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1); }
  .show-sidebar aside {
    -webkit-transform: translateX(-0%);
    -ms-transform: translateX(-0%);
    transform: translateX(-0%); }
  aside .toggle {
    padding-left: 30px;
    padding-top: 30px;
    position: absolute;
    left: 0;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%); }
    .show-sidebar aside .toggle .burger:before, .show-sidebar aside .toggle .burger span, .show-sidebar aside .toggle .burger:after {
      background: #ffff; }
  .show-sidebar aside {
    -webkit-box-shadow: 10px 0 30px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 10px 0 30px 0 rgba(0, 0, 0, 0.1); }
  aside .side-inner {
    padding: 30px 0;
    height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; }
    aside .side-inner .profile {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      margin-bottom: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid #efefef; }
      aside .side-inner .profile img {
        width: 80px;
        margin: 0 auto 20px auto;
        border-radius: 50%; }
      aside .side-inner .profile .name {
        font-size: 14px;
        position: relative;
        bottom: 7px;
      }

      .icon-p{
        position: relative;
        bottom: 12px;
        margin-left: 3px;
        margin-right: 3px;
      }
      aside .side-inner .profile .country {
        font-size: 13px;
        color: #cfcfcf; }
    aside .side-inner .counter {
      margin-bottom: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid #efefef;
      text-align: center; }

       
      aside .side-inner .counter div .number-label {
        color: #cfcfcf; }
    aside .side-inner .nav-menu ul, aside .side-inner .nav-menu ul li {
      padding: 0;
      margin: 0px;
      list-style: none;
     }
    aside .side-inner .nav-menu ul li a {
      display: block;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 10px;
      padding-bottom: 10px;
      color: #a2a2a2;
      position: relative;
      font-size: 13px;
      -webkit-transition: .3s padding-left ease;
      -o-transition: .3s padding-left ease;
      transition: .3s padding-left ease; }

      aside .side-inner .nav-menu ul li span{
       color: #ee8f50;
       position: relative;
       top: 4px;
       font-size: 17px;
       padding-left: 6px;

      }
      aside .side-inner .nav-menu ul li a:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 0px;
        background-color: #ff7315;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: .3s opacity ease, .3s visibility ease, .3s width ease;
        -o-transition: .3s opacity ease, .3s visibility ease, .3s width ease;
        transition: .3s opacity ease, .3s visibility ease, .3s width ease; }
      aside .side-inner .nav-menu ul li a:active, aside .side-inner .nav-menu ul li a:focus, aside .side-inner .nav-menu ul li a:hover {
        outline: none; }
      aside .side-inner .nav-menu ul li a:hover {
        background: #454a50;
        color: #fff; }
        aside .side-inner .nav-menu ul li a:hover:before {
          width: 4px;
          opacity: 1;
          visibility: visible; }
    aside .side-inner .nav-menu ul li.active a {
      background: #454a50;
      color: #fff; }
      aside .side-inner .nav-menu ul li.active a:before {
        opacity: 1;
        visibility: visible;
        width: 4px; }

main {
  width: calc(100%); }
  main .post-entry {
    margin-bottom: 30px; }
    main .post-entry .custom-thumbnail {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
      flex: 0 0 80px;
      margin-right: 30px; }
  main .post-content h3 {
    font-size: 18px; }
  main .post-content .post-meta {
    font-size: 15px;
    color: #ccc; }

/* Burger */
.burger {
  width: 28px;
  height: 32px;
  cursor: pointer;
  position: relative;
  z-index: 99;
  float: right;
  right: 17px;
  bottom: 18px;
 }

.burger:before, .burger span, .burger:after {
  width: 100%;
  height: 2px;
  display: block;
  background: #fff;
  border-radius: 2px;
  position: absolute;
  opacity: 1; }

.burger:before, .burger:after {
  -webkit-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  content: ""; }

.burger:before {
  top: 4px; }

.burger span {
  top: 15px; }

.burger:after {
  top: 26px; }

/* Hover */
.burger:hover:before {
  top: 7px; }

.burger:hover:after {
  top: 23px; }

/* Click */
.burger.active span {
  opacity: 0; }

.burger.active:before, .burger.active:after {
  top: 40%; }

.burger.active:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5);
  /*for IE*/ }

.burger.active:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-5);
  /*for IE*/ }

.burger:focus {
  outline: none; }


  /*****************************************/

.meno{
  width: 100%;
  background-color: black;
}

.mtn-meno{
  margin-right: 60px;
  
}
.back-box{
  min-height: 500px;
}
.img-d{
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.img-center{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: 0 auto;
  margin-top: 40px;
  border: 2px solid #dadadac2;
  box-shadow: 1px 1px 17px 4px #c4c4c4;
}

.div-box-1{
  min-height: 190px;
  background-color: #fff;
  border-right: 2px solid #eee;
}
.icon-o{
  font-size: 13px;
position: relative;
  left: 4px;
   top: 16px;
   color: #007bff;
  
}
.m1{
  color: #4c545c;
  font-size: 13px;
  position: relative;
  bottom: 6px;
  right: 5px;
  margin: 9px;

}
.bot-1{
  position: relative;
  right: 10px;
}

.mt-2{
 /*  position: relative;
  top: 0px; */
  margin-bottom: 25px;
}
.mt-3{
  top: 16px;
  margin-bottom: 20px;

}
.bdg-1{
  padding: 4px 3px;
  background-color: #d5d5d5;
}

.khat{
  width: 100px;
  margin: 0 auto;
  position: relative;
  bottom: 25px;
  border-bottom: 3px solid #ff7315;
  opacity: 0.6;
}

.khat2{
  width: 50px;
  margin: 0 auto;
  position: relative;
  bottom: 5px;
  opacity: 0.4;
  border-bottom: 3px solid #ff7315;
}
.khat3{
  width: 100px;
  margin: 0 auto;
  position: relative;
  opacity: 0.7;
  margin-top: 15px;
  border-bottom: 4px solid #e6e6e6;
}
.khat4{
  width: 50px;
  margin: 0 auto;
  position: relative;
  opacity: 0.4;
  margin-top: 15px;
  border-bottom: 4px solid #e6e6e6;
}
.text-h{
  font-family: BYekan;
  text-shadow: 1px 1px 10px #706e6e;
  cursor: pointer;

}

.text-lo{
  opacity: 0.7;
  cursor: pointer;
  color: #fff;
  margin-top: 30px;
  font-family: BYekan;
  font-size: 13px;
  padding: 0px 20px;
}

.div-text{
  width: 100%;
  max-width: 770px;
  margin: 0 auto;
/*   border: 1px solid red;
 */}
.center{
  margin: 0 auto !important;
  text-align: center;
  align-items: center;
}
.but-aval{
  padding: 4px 20px;
  background-color: #ff7315;
  color: #fff;
  border-radius: 30px;
  font-family: BYekan;
  border: 2px solid #ff7315;
  margin-top: 40px;
  transition: all 0.3s;
}
.but-aval:hover{
  background-color: #dd5d08;
  border: 2px solid #dd5d08;

}
.foot-height{
  min-height: 200px;
}

.foot-2-h{
  color:#eee;
	text-decoration: none;
	padding: 4px;
	font-size: 14px;
  font-family: vazir;
	position: relative;
  bottom: 25px;

}
.mtn-f{
  color: #eee;
	font-size: 15px;
	text-align: justify;
	position: relative;
/* 	top: 40px;
	right: 25px; */
}
.img-f2{
  width: 110px;
  height: 110px;
  border: 2px solid #eee;
  border-radius: 8px;
  margin-left: 5px;
  margin-right: 20px;
}
.t-on{
  font-size: 18px;
  font-family: vazir;
  margin-top: 17px;
}

.tx-foot{
  font-size: 13px;
  font-family: vazir;
  padding-bottom: 9px;
}
/* .img-sh{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 10px;
} */

.dayere{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 10px;
}
.text-add{
  font-size: 13px;
  font-family: vazir;
  position: relative;
  top: 9px;
  right: 8px;
  text-align: center;
  align-items: center;
}

.text-zir{
  font-size: 11px;
  font-family: BYekan;
  color: #343a40;
  margin-right: 6px;
  opacity: 0.8;
}



.m2{
  color: #4c545c;
  font-size: 15px;
  position: relative;
  bottom: 6px;
  right: 5px;
  font-family: vazir;
  margin: 9px;
}

.div-box-1-2{
  min-height: 190px !important;
  background-color: #fff;
  border-right: 2px solid #eee;
}
.div-p{
  margin-right: 10px;
  margin-left: 10px;
  position: relative;
  bottom: 10px;
}

.div-tav{
  min-height: 100px;
/*   border: 1px solid #dd5d08;
 */}

.i-star{
  color: #504de9cc;
  font-size: 13px;
  display: inline-block;
}
.p-ta{
  font-size: 14px;
  position: relative;
  color: #4d4d4d;
  font-family: BYekan;
  bottom: 2px;
}
.t-text-tav{
  font-size: 13px;
  color: #4d4d4d;
  opacity: 0.6;
  font-family: iransansdn;
}

.t-sher{
  font-family: iransansdn;
  font-size: 12px;
}